* {
    margin: 0;
    padding: 0;
}

html {
    background-image: url("../images/tile.jpg")
}
/* Body Elements */

body {
    margin-top: 15px;
    max-width: 80%;
    margin-left: auto;
    margin-right: auto;
    border: 3px solid white;
    border-radius: 8px;
    box-shadow: 5px 8px 5px rgb(23, 222, 26)
}
/* Header Elements */

header {
    background-color:rgb(34, 109, 68);
    padding-top: 10px;
    padding-bottom: 10px;
    border: 2px solid black;
    border-radius: 8px;
}

header p {
    text-align: center;
    color: white;
    font-size: 60px;
    font-family:monospace
}

/* Nav Elements*/
#nav_bar ul {
    display: flex;
    justify-content: space-around;
    list-style-type: none;
    border-bottom: 2px solid black;
    border-right: 2px solid black;
    border-left: 2px solid black;
    background-color:rgb(27, 147, 81);
}

#nav_bar ul li a {
    text-align: center;
    color: white;
    background-color:rgb(27, 147, 81);
    text-decoration: none;
    display: block;
    width: 300.5px;
    padding-top: 2px;
    padding-bottom: 2px;
    font-size: 30px;
    font-family: 'Kanit', sans-serif;
}

#nav_bar ul li a:hover{
    color: #00330f;
    font-weight: bold;
    background-color:rgb(38, 230, 124);
    transition: all 100ms;
    border-radius: 2vh;
}

/* Main Elements */
main {
    background-color: rgb(34, 109, 68);
    height:700px;
}

#contact_box {
    padding-top: 15px;
    height: 500px;
    margin: auto;
    border: 1px solid black;
    border-radius: 2vh;
    background-color: rgb(31, 168, 100);
    width: 60%;
}

#contact_box h1 {
    text-align: center;
    font-size: 40px;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
}

#contact_box h3 {
    text-align: center;
    color: white;
    font-family:Arial, Helvetica, sans-serif;
    margin-top: 20px;
    margin-bottom: 10px;
    font-size: 25px;
}
#contact_box p {
    text-align: center;
    color: white;
    font-size: 17px;
    margin-bottom: 20px;
}
#contact_box a {
    color: rgb(116, 243, 169);
}
/* Footer Elements*/
footer {
    background-color: rgb(34, 109, 68);
    border-top: 1px solid black;
}

footer p {
    text-align: center;
    color: white;
    font-family:monospace;
    font-size: 15px;
}
/* Imports */

@media screen and (max-width:1481px) {
    #nav_bar ul li a {
        width: 270px;
    }
}

@media screen and (max-width: 1309px) {
    #nav_bar ul li a {
        width: 220px;
    }
}

@media screen and (max-width:1245px) {
}

@media screen and (max-width:1067px) {
    #nav_bar ul li a {
        width: 180px;
    }
}

@media screen and (max-width:987px) {
    #nav_bar ul li a {
        width: 140px;
    }
}

/* Mobile View */
@media screen and (max-width:687px) {
    /* Header Elements */
    header {
        border-bottom: 1px solid black;
    }
    header p {
        font-size: 45px;
    }
    /* Nav Bar */
    #nav_bar ul {
        flex-direction: column;
        border-bottom: 1px solid black;
    }

    #nav_bar ul li {
        display: flex;
        justify-content: center;
        border: 1px solid rgb(4, 44, 13);
    }
    #nav_bar ul li a {
        font-size: 28px;
    }
    /* Main */
}

@media only screen and (max-width:504px) {
    #image_examples {
        margin-left: 11%;
    }
}

@media only screen and (max-width:460px) {
}

@media only screen and (max-width:425px) {
}

@media only screen and (max-width:381px) {
}

@media only screen and (max-width:342px) {
}

@media only screen and (max-width:310px) {
}

